.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items:center;
    width: 1200px;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

